.comment-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.input-comentario {
    width: 100%;
    margin-right: 5px;
}

.add-coment {
    margin-left: 10px;
    font-style: italic;
    font-size: 18px;
}